@model List<FES.AusleihSystem.ViewModels.ReservierungViewModel>

    <h2>Reservierungen</h2>

    <div class="form-control" style="height: 500px; overflow-y: scroll;">
        <table border="0">
            <thead>
                <tr>
                    <th>Ger&auml;t</th>
                    <th>Ausleihdauer</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reserver in Model)
                {
                <tr>
                    <th>
                        <text>Nr. @reserver.ReservierungsNummer</text>
                        <br />
                        @*<text>@Hw.Name</text>*@
                    </th>
                    <th>
                        <text>Von:  @reserver.ReservierungsBeginn</text>
                        <br />
                        <text>Bis:  @reserver.ReservierungsEnde</text>
                        <br />
                        <text>@Html.ActionLink("Eintrag entfernen", "Loeschen", "Ausleih", reserver)</text>
                    </th>
                </tr>
                }
            </tbody>
        </table>
    </div>

@*foreach hw in reserver graete später wieder einfügen*@